@{
    ViewData["Title"] = "Ajouter un produit";
}

<link rel="stylesheet" href="~/css/product/confirm.css" asp-append-version="true" />

<div class="content">
    <div class="complete-zone">
        <h1>Votre commande a été prise en compte !</h1>
        <p>Vous recevrez un mail de confirmation dans quelques instants.</p>
        <p>Vous pouvez suivre l'avancement de votre commande dans la rubrique "Mes commandes" sur votre espace.</p>
        <a class="confirm-btn btn-to-commande" href="@Url.Action("Index", "Account")">Mes Commandes</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    </script>
}
    
