@using WOS.Model;

@model List<CartItem>;

@{
    ViewData["Title"] = "Contactez-nous !";
}

<link rel="stylesheet" href="~/css/panier/viewCart.css" asp-append-version="true" />
<script src="https://js.stripe.com/v3/"></script>

<div class="content">
    
</div>

<script>
    function getCookie(name) {
        var values = document.cookie.split(';');
        for (var i = 0; i < values.length; i++) {
            var cookie = values[i].split('=');
            if (cookie[0].trim() == name) {
                return cookie[1];
            }
        }
    }

    $(document).ready(function () {
        console.log(document.cookie);
        var currentStep = getCookie("CartStep");
        console.log(currentStep); // Devrait afficher "1"
        // if (currentStep) {
        //     console.log("je suis dans le if");
        //     $.ajax({
        //         url: "/Panier/NextStepPurchase",
        //         type: "POST",
        //         data: { actualStep: currentStep },
        //         success: function (data) {
        //             $(".content").html(data);
        //         }
        //     });
        // }else{
        //     $.ajax({
        //         url: "/Panier/NextStepPurchase",
        //         type: "POST",
        //         data: { actualStep: 1 },
        //         success: function (data) {
        //             $(".content").html(data);
        //         }
        //     });
        // }

        if (currentStep == null) {
            const cartItems = $('.cart-item').map(function () {
                let productId = $(this).data('product-id').replace('item-', '');
                let size = $(this).data('size');
                let quantity = $(this).find('.quantity-input').val();

                productId = parseInt(productId);
                quantity = parseInt(quantity);
                size = size.toString();

                return {
                    productId: productId,
                    size: size,
                    quantity: quantity
                };
            }).get();

            console.log(cartItems);

            $.ajax({
                url: '/Panier/ViewCart',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(cartItems),
                success: function (response) {
                    // Redirige vers une autre page ou affiche les données
                    window.location.href = '/Panier/Display';
                },
                error: function (err) {
                    console.error('Error:', err);
                }
            });
        }else{
            $.ajax({
                url: "/Panier/NextStepPurchase",
                type: "POST",
                data: { actualStep: 0 },
                success: function (data) {
                    $(".content").html(data);
                }
            });
        }
    });
</script>

<!-- On récupère le cookie CartSteps -->
<script>
    $(document).ready(function () {
        var cartSteps = getCookie("CartStep");
        if (cartSteps != null) {
            var steps = cartSteps.split(",");
            for (var i = 0; i < steps.length; i++) {
                if (steps[i] == "2") {
                    $("#step-2").addClass("active");
                    $("#between-step-1-2").addClass("active");
                }
                else if (steps[i] == "3") {
                    $("#step-2").addClass("active");
                    $("#between-step-1-2").addClass("active");
                    $("#step-3").addClass("active");
                    $("#between-step-2-3").addClass("active");
                }
            }
        }
    });

    function deleteCookie(name) {
        var values = document.cookie.split(';');
        for (var i = 0; i < values.length; i++) {
            var cookie = values[i].split('=');
            if (cookie[0].trim() == name) {
                // On supprime la values
                document.cookie.split(';')[i] = "";
            }
        }
    }

    function setCookie(name) {
        document.cookie = name;
    }

    let isConnected = @User.Identity.IsAuthenticated.ToString().ToLower();

    if (isConnected) {
        // On clique sur le bouton .cart-footer .confirm-btn pour voir le panier
        $(".cart-footer .confirm-btn").click();

    }
    

    // Click sur le bouton step-2-to-3
    $(".step-2-to-3").click(function () {
        $.ajax({
            url: "/Panier/NextStepPurchase",
            type: "POST",
            data: {
                actualStep: 1
            },
            success: function (data) {
                $(".content").html(data);
            }
        });
    });
</script>