@using WOS.Model;

@model SignInViewModel;

@{
    ViewData["Title"] = "Erreur dans la vérification de l'email";
}

<div class="content">
    <div class="center-screen">
        <h1>Oups... On dirait que la vérification ne se passe pas comme prévue...</h1>
        <div class="reason">
            <p>Voici la raison de votre infortune : @Model.ErrorMessage</p>
        </div>
        <div class="redirection">
            <p>Si le problème persiste, veuillez contacter notre service qui sera ravi de vous aider.</p>
            <a asp-action="Index" asp-controller="Contact">Contacter le service client</a>
        </div>
    </div>
</div>
