@{
    ViewData["Title"] = "Inscription réussie";
}

<div class="content">
    <div class="center-screen">
        <h1>Inscription réussie !</h1>
        <p>Votre inscription a bien été effectuée.</p>
        <p>Nous vous avons envoyé un e-mail de vérification.</p>
        <a asp-action="Index" asp-controller="Home">Retourner à l'accueil</a>
    </div>
</div>
