.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cacher les sections par défaut */
.info-account, .info-commandes, .info-products, .info-marques, .info-livraison {
    display: none; /* Masquer par défaut */
    opacity: 0; /* Initialement transparent */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animation */
    transform: translateY(20px); /* Décalage initial pour l'effet de glissement */
}

    /* Classe pour afficher une section */
    .info-account.active, .info-commandes.active, .info-products.active, .info-marques.active, .info-livraison.active {
        display: block; /* Affiche la div */
        opacity: 1; /* Rétablit l'opacité */
        transform: translateY(0); /* Position normale */
    }

/* Style de base pour le menu */

.account {
    display: flex;
    flex-grow: 1;
}

/* Navigation latérale - Version Desktop */
.side-nav {
    width: 250px;
    background-color: rgb(98, 106, 115);
    color: white;
    transition: transform 0.3s ease;
}

    .side-nav .nav-account ul {
        list-style-type: none;
        padding: 0;
    }

        .side-nav .nav-account ul li {
            padding: 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .side-nav .nav-account ul li:hover {
                background-color: #444;
            }

.toggle-btn {
    display: none;
}

.info-sections {
    flex-grow: 1;
}

/* Version Mobile */
@media (max-width: 768px) {
    .account {
        flex-direction: column;
    }

    .side-nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 1000;
        transition: left 0.3s ease;
        overflow-y: auto;
    }

        .side-nav.active {
            left: 0;
        }

    .toggle-btn {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1100;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        cursor: pointer;
    }

    .side-nav .nav-account ul li {
        border-bottom: 1px solid #444;
    }
}

/* Sections de contenu */
.info-account, .info-commandes, .info-products {
    display: none;
}

    .info-account.active {
        display: block;
    }


/* ===================================================================== */
/* =========================== Partie Profil =========================== */
/* ===================================================================== */

.head-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    border-bottom: 1px solid rgb(98, 106, 115);
    flex-shrink: 0;
}

    .head-account h1 {
        font-size: 2.5em;
        margin: 0;
    }

    .head-account button {
        padding: 10px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

        .head-account button:hover {
            background-color: red;
            color: white;
        }


.info-account h2 {
    font-size: 2em;
    margin: 0;
}

.user-zone {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 5vh 5vw;
}

    .user-zone .user-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .user-zone .user-info h3 {
            font-size: 1.5em;
            margin: 0;
        }

        .user-zone .user-info p {
            margin: 0;
        }

.head-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    border-bottom: 1px solid rgb(98, 106, 115);
    flex-shrink: 0;
}

    .head-profile .user-actions {
        padding: .5em 1em;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        border: 2px solid black;
    }

        .head-profile .user-actions:hover {
            background-color: white;
            color: black;
        }

.form-zone {
    padding: 5vh 5vw;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.zone-input {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
}

    .input input {
        margin-left: 1vw;
        border: 1px solid black;
        padding: .5em;
    }

    .input label {
        font-size: 1em;
        margin: 0;
        font-weight: bold;
        padding: .5em 0em;
    }

.hidden {
    display: none;
}

.cancel-update {
    padding: .5em 1em;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border: 2px solid red;
}

    .cancel-update:hover {
        background-color: white;
        color: red;
    }

.consignes {
    /*On fait retourner le texte à la ligne s'il est trop long*/
    word-wrap: break-word;
}

/* ===================================================================== */
/* ========================== Partie Commandes ========================= */
/* ===================================================================== */

/* ===================================================================== */
/* ========================== Partie Produits ========================== */
/* ===================================================================== */

input:invalid {
    display: block; /* Assurez-vous que l'élément soit visible */
}

.head-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    border-bottom: 1px solid rgb(98, 106, 115);
    flex-shrink: 0;
}

    .head-product h2 {
        font-size: 2em;
        margin: 0;
    }

    .head-product a {
        text-decoration: none;
    }

.formAddProduct {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5vh auto;
    height: 60vh;
    max-height: 100%;
    overflow: hidden;
}

    .formAddProduct .left-zone {
        display: flex;
        width: 40%;
        margin: 2em 0;
    }

    .formAddProduct .right-zone {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 50vh;
        margin: 2em 0;
        position: relative;
    }

.pictures-zone {
    width: 100%;
}

.head-zone-product {
    margin-bottom: 1em;
}

    .head-zone-product input {
        width: 100%;
        padding: .5em;
        border: 2px solid black;
        border-radius: 5px;
        color: black;
        box-sizing: border-box;
    }

.content-zone-product {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

    .content-zone-product textarea {
        width: 100%;
        height: 20vh;
        padding: .5em;
        border: 2px solid black;
        border-radius: 5px;
        color: black;
        resize: none;
        box-sizing: border-box;
    }

    .content-zone-product select {
        width: 50%;
        height: 3em;
        border: 2px solid black;
        margin: .5em 0;
    }

.content-zone {
    display: none;
}

    .content-zone h3 {
        margin: 0;
        margin-bottom: 1em;
    }

.allColors {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    max-height: 38vh;
    overflow: auto;
}

.color-zone {
    width: 8%;
    aspect-ratio: 1/1.25;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border: 2px solid #f1f1f1;
}

.img-color {
    width: 80%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    border: 2px solid black;
}

.selectedColors {
    background-color: #bee0ea;
    border: 2px solid #4fb2c5;
    border-radius: 5px;
}

.table-stock {
    width: 100%;
    border-collapse: collapse;
}

    .table-stock th {
        border: 1px solid black;
    }

th, td {
    border: 1px solid black; /* Bordure noire autour des cellules */
    padding: 8px; /* Facultatif : espace entre contenu et bordure */
    text-align: center; /* Centrer le texte */
}

    td input {
        width: 100%;
        padding: .5em;
        border: 2px solid black;
        border-radius: 5px;
        color: black;
        box-sizing: border-box;
    }

th {
    background-color: #f4f4f4; /* Couleur de fond pour l'en-tête */
}

select.input-size {
    width: 100%; /* Hauteur pour afficher plusieurs options */
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

    select.input-size option {
        padding: 5px;
    }

.add-row {
    padding: .5em 1em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border: 2px solid black;
}

    .add-row:hover {
        background-color: #f1f1f1;
        color: black;
    }

.active {
    display: block;
}

.upload-container {
    position: relative;
    height: 100%;
    text-align: center;
}

.drop-area {
    border: 2px dashed black;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    overflow: auto;
}

    .drop-area:hover {
        background-color: black;
        color: white;
    }

.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

    .preview-container .file-container {
        position: relative;
        margin: 10px;
    }

    .preview-container img,
    .preview-container video {
        max-height: 30vh;
        border: 1px solid #ccc;
    }

.delete-icon {
    position: absolute;
    z-index: 1000;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .checkbox-wrapper input {
        display: none;
    }

.custom-checkbox {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px; /* Optionnel : arrondir les coins */
}

.checkbox-wrapper input:checked + .custom-checkbox {
    background-color: #000;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    left: 10px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
}

.checkbox-wrapper input:checked + .custom-checkbox::after {
    opacity: 1;
}

.btns-close {
    position: absolute;
    display: flex;
    justify-content: right;
    bottom: -5vh;
    right: 0;
    display: none;
}

    .btns-close a {
        margin: 0 .25em;
    }

.confirm-btn {
    margin-right: none;
}

.div-delete-product .delete-product{
    width: 100%;
    margin-bottom: 1vh;
}

.activeBtns {
    display: flex;
}

.produit {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid rgb(98, 106, 115);
    margin-top: 5vh;
}

.entete-produit {
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vw;
    flex-shrink: 0;
    border-radius: 15px;
}

    .entete-produit .left-zone-product-show{
        display: flex;
        height: 40vh;
        min-width: 60%;
    }

        .entete-produit .left-zone-product-show img{
            object-fit: cover;
        }

        .entete-produit h3 {
            font-size: 2em;
            margin: 0;
        }

    .entete-produit a {
        text-decoration: none;
    }

    .entete-produit .bi-chevron-right {
        font-size: 5em;
    }

.allColorsProduct {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: left;
}


.formUpdateActiveProduct {
    margin: 3vh 0;
    font-size: 1em;
    display: flex;
    height: 2em;
    align-items: center;
}

    .formUpdateActiveProduct label {
        font-size: 1em;
        display: inline;
        height: min-content;
    }

    .formUpdateActiveProduct input {
        width: max-content;
        width: min-content;
        transform: scale(2);
        margin: 0 2vh;
    }

.center-zone-product-show {
    width: 50%;
}

.updatePriceRow {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .updatePriceRow:hover {
        background-color: white;
        color: black;
    }

.detail-produit{
    padding: 1em;
}

.showMore{
    width: 100%;
}

.right-zone-show-product{
    display: flex;
}

.showStock{
    transform: rotate(90deg);
}

.confirmUpdatePriceRow, .cancelUpdatePriceRow{
    border-radius: 0;
}

.confirmUpdatePriceRow{
    background-color: green;
    color: white;
    border: 1px solid green;
}

.cancelUpdatePriceRow{
    background-color: red;
    color: white;
    border: 1px solid red;
}

.hidden {
    display: none;
}

/* ===================================================================== */
/* ========================== Partie Marques =========================== */
/* ===================================================================== */

.head-marque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    border-bottom: 1px solid rgb(98, 106, 115);
    flex-shrink: 0;
}

    .head-marque h2 {
        font-size: 2em;
        margin: 0;
    }

    .head-marque a {
        text-decoration: none;
    }


.content-marque {
}

.formAddMarque {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

    .formAddMarque label {
        font-size: 1.2em;
        margin: .5vh 0;
    }

    .formAddMarque input {
        font-size: 1.2em;
        padding: .5em;
        border: 2px solid black;
        width: 50%;
    }

    .formAddMarque div {
        display: flex;
        flex-direction: column;
        margin: 1em;
        box-sizing: border-box;
    }

    .formAddMarque textarea {
        font-size: 1.2em;
        padding: .5em;
        border: 2px solid black;
        width: 100%;
        resize: none;
        height: 3.5em;
    }

    .formAddMarque .active-zone {
        display: flex;
        flex-direction: initial;
    }

    .formAddMarque .btnFormAddMarque {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
    }

        .formAddMarque .btnFormAddMarque a {
            margin: 0 1em;
            display: inline;
            height: min-content;
        }

    .formAddMarque .active-zone label {
        width: max-content;
    }



    .formAddMarque .active-zone input {
        width: min-content;
        transform: scale(2);
        margin: 0 2vh;
    }

.formAddCategorie {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

    .formAddCategorie .head-zone-inputCat {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: end;
        width: 99.5%;
    }

        .formAddCategorie .head-zone-inputCat .name-zone {
            width: 45%;
            margin: 0;
        }

.input-marque-formAdd {
    width: 48%;
    height: 3em;
    font-size: 1em;
    border: 2px solid black;
}

.formAddCategorie label {
    font-size: 1.2em;
    margin: .5vh 0;
}

.formAddCategorie input {
    font-size: 1.2em;
    padding: .5em;
    border: 2px solid black;
    width: 100%;
}

.formAddCategorie div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-sizing: border-box;
}

.formAddCategorie textarea {
    font-size: 1.2em;
    padding: .5em;
    border: 2px solid black;
    width: 100%;
    resize: none;
    height: 3.5em;
}

.formAddCategorie .active-zone {
    display: flex;
    flex-direction: initial;
}

    .formAddCategorie .active-zone .inputHome {
        width: max-content;
        width: min-content;
        transform: scale(2);
        margin: 0 2vh;
    }

    .formAddCategorie .active-zone label {
        width: max-content;
    }


.formAddCategorie .btnFormAddCategorie {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
}

    .formAddCategorie .btnFormAddCategorie a {
        margin: 0 1em;
        display: inline;
        height: min-content;
    }

.allMarques {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.marque {
    display: block;
    width: 50vw;
    margin-top: 5vh;
    min-height: 30vh;
    box-sizing: border-box;
}

.head-zone-marqueShow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: content-box;
    background-color: rgb(98, 106, 115);
    color: white;
    border-radius: 15px;
}

    .head-zone-marqueShow div {
        background-color: transparent;
    }

    .head-zone-marqueShow h3 {
        font-size: 2em;
        margin: 1vh 0;
        padding: 0 .5em;
    }

    .head-zone-marqueShow p {
        font-size: 1em;
        margin: 0;
        width: 90%;
        min-height: 10vh;
        padding: 1em;
        word-wrap: break-word;
        white-space: normal;
        max-width: 100%;
        overflow: hidden; /* Masque le texte qui dépasse */
        text-overflow: ellipsis;
    }

    .head-zone-marqueShow .bi-chevron-right {
        font-size: 5em;
    }

.formUpdateMarque {
    margin: 1em;
    font-size: 1em;
}

    .formUpdateMarque input {
        width: max-content;
        width: min-content;
        transform: scale(2);
        margin: 0 2vh;
    }

.zone-left-marque {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-zone-marque {
    background-color: #d3d3d3;
}

    .bottom-zone-marque h3 {
        margin: 0;
        padding: 1em;
    }

    .bottom-zone-marque ul {
        margin: 0;
        padding: 0;
    }

.categorie {
    border: 2px solid black;
    padding: 1em;
}

    .categorie h3 {
        font-size: 1.5em;
        margin: .5em 0;
        padding: 0;
    }

.formUpdateCat label {
    font-size: 1em;
}

.formUpdateCat input {
    width: max-content;
    width: min-content;
    transform: scale(1.5);
    margin: 0 2vh;
}

.hidden {
    display: none;
}

/* ===================================================================== */
/* ========================== Partie Livraison ========================= */
/* ===================================================================== */

.head-livraison {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    border-bottom: 1px solid rgb(98, 106, 115);
    flex-shrink: 0;
    margin-bottom: 5vh;
}

    .head-livraison h1 {
        font-size: 2em;
        margin: 0;
    }

.mode-livraison {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    border: 1px solid black;
    padding: 1em 5vw;
    margin: 5vh auto;
}

.mode-livraison .left-zone{
    width: min-content;
    height:30vh;
    display: flex;
    object-fit: contain;
}

    .mode-livraison .right-zone{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .mode-livraison .right-zone .name-zone h3 {
        font-size: 1.5em;
    }

    .mode-livraison .right-zone .price-zone{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .mode-livraison .right-zone .price-zone button {
            margin: .5em 0;
        }

        .mode-livraison .right-zone .price-zone input {
            height: 1em;
            padding: .5em;
        }
